* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #f5f7fa;
}

/* TOPO */
header {
    background: #141e30;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: center; /*centraliza*/
    align-items: center;
    position: relative;
}

header a {
    color: white;
    text-decoration: none;
}

.menu-links {
    position: absolute;
    right: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
}

/* FEED */
.feed {
    max-width: 600px;
    margin: 20px auto;
}

/* POST */
.post{
    background: white;
    margin-bottom: 25px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.post img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

.post h3 {
    margin: 10px;
}

.post p {
    margin: 0 10px 10px;
}

.post span {
    display: block;
    margin: 0 10px 10px;
    font-size: 12px;
    color: gray;
}

.post {
    transition: 0.3s;
}

.post:hover {
    transform: scale(1.01);
}

.post h3{
    color:#141e30;
}

.post span{
    padding-bottom:10px;
}


@media (max-width:700px){

    .feed{
        width:95%;
    }

    header h2{
        font-size:18px;
    }

}

.btn-voltar{
    display: inline-block;
    margin-top: 25px;
    padding: 12px 22px;
    background: #141e30;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-voltar:hover{
    background: #1f2f4a;
    transform: translateY(-2px);
}

.noticia{
    background: white;
    max-width: 850px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.noticia h1{
    color: #141e30;
    margin-top: 20px;
    font-size: 32px;
}

.noticia p{
    line-height: 1.8;
    color: #444;
    font-size: 18px;
}

.link-post{
    text-decoration: none;
    color: black;
}

.filtro {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 25px auto;
}

.filtro input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.filtro button {
    padding: 10px 15px;
    background: #141e30;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.info-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 10px;
}

.info-post span {
    margin: 0;
    padding: 0;
}

.favorito {
    font-size: 24px;
    color: #202964;
    text-decoration: none;
}

.paginacao {
    text-align: center;
    margin: 30px;
}

.paginacao a {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    background: #141e30;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}


@media screen and (min-width: 1024px) {

    .feed {
        width: 95%;
        max-width: 1200px;
        margin: 20px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        align-items: start;
    }

    .post {
        margin-bottom: 0;
        height: auto;
    }

    .link-post {
        display: block;
    }

    .post img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        display: block;
    }

}

.noticia{
    background: transparent;
    max-width: 900px;
    margin: 25px auto 40px auto;
    padding: 0 25px;
    border-radius: 0;
    box-shadow: none;
}
.noticia h1 {
    color: #141e30;
    text-align: center;
}

.noticia p {
    line-height: 1.8;
}

.noticia img{
    width: 100%;
    max-height: 420px;
    object-fit: cover;
    border-radius: 10px;
}

.noticia span {
    color: gray;
    font-size: 14px;
}